@charset "UTF-8";

* {
  font-family: inherit;
}

@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url(//fonts.googleapis.com/css?family=Crimson+Text);

// @font-face {
//   font-family: 'testfont'; /* You can name it whatever you like */
//   src: url('fonts/YourFontFile.ttf') format('truetype'); /* path to your font file */
// }

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
}
