{{ define "main" }}
  <div
    class="post {{ with .Site.Params.doNotLoadAnimations }}
      .
    {{ else }}
      animated fadeInDown
    {{ end }}"
  >
    <div class="post__content">
      {{ .Content }}
    </div>

    <!-- (Optional) Home
          -- on top of `mainSections` content (aka posts) ;
          -- as declared in content/_index.md

          One can set `mainSections = [""]` and have the content/_index.md specified here
      -->
  </div>

    <div
      class="post {{ with .Site.Params.doNotLoadAnimations }}
        .
      {{ else }}
        animated fadeInDown
      {{ end }}"
    >
      <!-- <div class="post__content">
        <h2>Featured</h2>
      </div> -->
    </div>
    <!-- Print all featured pages to see what's being fetched -->
    <!-- {{ printf "Featured pages: %v" (where .Site.RegularPages "Type" "featured") }} -->
    {{ $featured := first 2 (where .Site.RegularPages "Type" "featured") }}
    {{ range $featured }}
        <div
          class="post {{ with $.Site.Params.doNotLoadAnimations }}
            .
          {{ else }}
            animated fadeInDown
          {{ end }}"
        >
        
            <div class="post__content">
                <h3>{{ .Title }}</h3>
                {{if .Params.image}}
                <div class="post__thumbnail-wrapper">
                    <a href="{{ .RelPermalink }}">
                        <img class="post__thumbnail" src="{{ .Params.image | relURL }}" alt="Thumbnail image" loading="lazy" />
                    </a>
                </div>
                {{end}}
                <p>{{ .Content | markdownify}}</p>
                <!-- post content -->
                
            </div>
            
            <!--  -->
            <div class="post__footer">
                <!-- <em class="fas fa-calendar-day"></em>
                <span class="post__footer-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span> -->
            </div>
        </div>
    {{ end }}
    
  <!-- <div class="pagination">
    {{ template "partials/pagination.html" . }}
  </div> -->
{{ end }}
